@import './variables.css';

.viewUser-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container__user-info {
    width: 100%;
    margin-top: 64px;
}
.container__user-info--img-perfil {
    display: flex;
    justify-content: center;
}
.img-perfil {
    justify-self: center;
}
.container__user-info--name, .container__user-info--phone {
    font-size: 1.8rem;
    font-family: var(--poppins);
    font-weight: 700;
    margin-top: 18px;
    text-align: center;
    color: var(--strong-blue);
    user-select: none;
}
.container__user-info--phone {
    margin-top: 3px;
    font-weight: 500;
}